a {
    color: yellow;
    target: "_blank";
}

a:hover {
    color: #1e90ff;
}

body {
    background-color: #181818;
    color: #FFFFFF;
    font-size: 17px;
    height: 100%;
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

header, footer {
    padding: 10px;
    background: #007BFF;
    text-align: center;
}

small {
    font-size: 0.5em;
}

.centered {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}

.justified {
    text-align: left; 
    display: inline-block;
    text-indent: 0px;

    font-size: 20px;
}

table, th, td {
    border: none;
    border-collapse: collapse;
    vertical-align: center;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
}

.big {
    font-size: 25px;
}

.Type { color: #87af87; }
.Statement { color: #ffd700; }
.Number { color: #87af87; }
.Constant { color: #87af87; }
.Include { color: #ffd700; }
.String { color: #5faf00; }
.StorageClass { color: #ffd700; }

.rounded-box {
    font-family: monospace;
    background-color: #000000; 
    border-radius: 15px; 
    padding: 20px; 
    color: #FFFFFF; 
}


.custom-table {
    width: 100%; 
    border-collapse: collapse; 
    background-color: #1e1e1e; 
    color: #ffffff; 
}

.custom-table th {
    background-color: #323232; 
    padding: 10px; 
    text-align: left; 
}

.custom-table td {
    padding: 10px; 
    border-top: 1px solid #444444; 
}

.custom-table tbody tr:hover {
    background-color: #2a2a2a; 
}

.custom-table img {
    max-width: 100%;
    height: auto;
}

.custom-button {
    background-color: yellow;
    color: red;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    margin: 20px;
    transition: background-color 0.3s;
    cursor: auto;
}

.custom-button:hover {
    background-color: green;
}

.trail {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background: teal;
}

.spin {
    width: 500px;
    animation: spin 4s linear infinite
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}
